* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(250, 170, 219);
    color: rgb(114, 5, 52);

}

small{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    color: rgb(148, 9, 9);
}

section{
    background-color: rgb(230, 117, 232);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(181, 8, 86);
    width: 50%;
    height: 79px;
    margin: 50px 50px;
    padding: 20px;
}

header p{
    font-size: 18px;
    font-weight: bold;
}

footer p{
font-size: 14px;
color: rgb(174, 6, 90);
}